@media (max-width: 800px) {
    main {
        font-family: monospace;
        font-size: 14px;
    }

    header h1 {
        margin: 0 auto;
        line-height: 30px;
    }

    #input {
        padding: 0 10px;
    }

    .msg {
        width: 80%;
        line-height: 15px;
    }

    .content {
        padding: 20px;
    }
}