:root {
    --text-main: #c9c9c9;
    --title-color: #2da85c;
    --user-msg: rgba(38, 189, 76, 0.8);
    --bot-msg:  rgba(255, 255, 255, 0.8);
    --msg-text: #0d2409;
    --container-bg: rgba(0, 120, 50, 0.4);
    --input-field: rgba(200, 255, 200, 0.85);
    --bg-black: #000;
}

body {
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--container-bg);
    border-radius: 20px;
    caret-color: transparent;
    padding: 0 1rem 1rem;
    position: relative;
    margin: 2% 10%;
    max-width: 900px;
    z-index: 1;
}

#matrix {
    position: fixed;
    left: 0;
    top: 0;
}

main {
    font-family: monospace;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    color: var(--text-main);
    border: 0;
    border-radius: 10px;
    flex-direction: column;
}

header {
    display: flex;
}

header h1 {
    margin: 0 auto;
    line-height: 60px;
    color: var(--text-main);
    font-family: monospace;
}

#input {
    border-radius: 8px;
    border: transparent;
    line-height: 35px;
    background-color: var(--input-field);
    padding: 0 15px;
}

#input:focus {
    outline: none;
    caret-color: var(--bg-black);
}

.about.content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* -webkit-text-stroke: 0.1px rgb(255, 255, 255); */
}

.abouttext {
    width: 80%;
    flex-grow: 1;
}

.copirigth {
    text-align: right;
}

.chatbot {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chatbot::-webkit-scrollbar {
    width: 0;
}

#chatfield {
    scroll-behavior: smooth;
    flex-grow: 2;
}

.msg {
    width: 40%;
    color: var(--msg-text);
    border-radius: 10px;
    border: 0;
    line-height: 20px;
    padding: 10px;
    margin: 10px 0;
    overflow-wrap: break-word;
}

.user {
    background-color: var(--user-msg);
    align-self: flex-end;
}

.bot {
    background-color: var(--bot-msg);
}